# Configuración NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""

# Proveedor Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Base de Datos (PostgreSQL via Prisma)
DATABASE_URL=""
DIRECT_URL=""
